fieldset {
	       margin:20px;
	       width:800px;
	       padding:30px;
	       border:solid 2px #000e6f;
	       background:#f2f5ff;
	  }
	  h1#signup {
	    margin-top: 20px;
	    margin-bottom: 30px;
	  }
	  input.tx {
	    margin: 5px;
	    height: 25px;
	    width:150px;
	    border: 1px solid #c5c5c5;
	    border-radius: 5px;
	  }
	  button{
	    margin: 5px;
	    height: 30px;
	    width: 50px;
	    background: #0d0098;
	    font-size: 15px;
	    color: white;
	    border-radius: 5px;
	    display:inline-block;
	    text-align: center;
	  }